<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cookapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	
	
	
    <application
        android:name="com.example.cookapp.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.cookapp.WlecomeActivity"
            android:screenOrientation="landscape"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cookapp.MyListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.example.cookapp.MyGridActivity"
            android:label="@string/title_activity_tab_show" >
        </activity>
        <activity
            android:name="com.example.cookapp.FoodClassifyActivity"
            android:label="@string/title_activity_food_classify" >
        </activity>
        <!--<activity-->
            <!--android:name="com.example.cookapp.SecondFoodClasifyActivity"-->
            <!--android:label="@string/title_activity_second_food_clasify" >-->
        <!--</activity>-->
        <activity
            android:name="com.example.cookapp.FoodShowActivity"
            android:label="@string/title_activity_food_show" >
        </activity>
        <activity
            android:name="com.example.cookapp.FoodCookDetailActivity"
            android:label="@string/title_activity_food_cook_detail" >
        </activity>
        <activity
            android:name="com.example.cookapp.SearchFoodActivity"
            android:label="@string/title_activity_search_food" >
        </activity>
        <activity
            android:name="com.example.cookapp.FoodLocalAcivity"
            android:label="@string/title_activity_food_local" >
        </activity>
        <activity
            android:name="com.example.cookapp.TabShowActivity"
            android:label="@string/title_activity_wlecome" >
        </activity>
    </application>

</manifest>
